.header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    text-align: center;
    align-items: center;
    border: 2px solid #d7d7d7;
    background-color: gray;
}

.content {
    position: relative;
}